<div class="row">
	<h1>Add New Category</h1>
	<form id="categoryForm" action="/categories/add" method="POST">
		<!-- The id will be assigned at the adding the data to our json file -->
		<div class="form-group">
			<label for="category"><b>Category:</b></label><br>
			<input type="text" id="category" class="form-control" name="category" required autofocus><br>
		</div>
		<button type="submit" class="btn btn-primary">Add Category</button>
	</form>
</div>